.divCTA {
    width: 300px;
    max-width: 100%;
    padding: 1rem;
    margin: 2rem auto;
    text-align: center;
}

.imgCTA {
    width: 300px;
    height: auto;
    max-width: 100%;
}

.aCTA {
    color: var(--color-tertiary);
}