.imgLogo {
    filter: invert();
    width: auto;
    height: auto;
}

.ulHeader {

    margin: 0;
    width: 100%;
    border: solid gray;
    border-radius: 10px;

    @media (min-width: 1025px) {
        display: flex;
        justify-content: space-around;
    }
}

.liHeader {
    margin: .4rem;
    padding: .4rem;
}

.liHeader:hover {
    background-color: gray;
    color: white;
    border-radius: 10px;
}

.liHeader:active {
    background-color: black;
    color: white;
    border-radius: 10px;
}