.divClientes {
    margin: 1rem;
}

.divClientesProjects {
    text-align: center;
}

.iframeprojectsclients {
    display: block;
    margin: 1rem auto;
    text-align: center;
}

.buttonprojectsclients {
    display: block;
    margin: 2rem auto;
}