.divPessoais {
    margin: 1rem;
}

.projectscmhub, .projectsamos, .projectstaskpilot, .projectseconvert, .projectsresolvetudo {
    text-align: center;
    max-width: 100%;
    margin: 7rem 0;
}

.logos {
    width: fit-content;
    height: auto;
    max-width: 100%;
}

.h2TitleProjects {
    margin: 4rem 0;
}

.buttonLinkSite {
    color: var(--color-secondary);
}

.iframesProjects {
    max-width: 100%;
}