/* CONFIG */

.imgIcons {
    width: 30px;
    height: 30px;

    margin: .5rem;
}

.imgLogo {
    width: 250px;
    height: auto;

    border: 1px solid var(--color-secondary);
    border-radius: 5px;
}

.divDownloads {
    margin: 1rem;

    .divDownloadsMain {

        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: top;
        text-align: center;

        @media (max-width: 1110px) {
            grid-template-columns: 1fr;
        }

        .divDownloadsContent {
            margin: 1rem;
            
            width: 100%;
            .divDownloadsContentHeader {
                color: var(--color-lucky);
                font-size: 1.3rem;
                font-weight: bold;
                justify-content: center;
                display: flex;
                align-items: center;
            }

            .divDownloadsContentBodyItem {
                display: flex;
                width: 100%;
                justify-content: space-around;
                
                @media (max-width: 1110px) {
                    flex-direction: column;
                }

                .divDownloadsContentBodyItemLeft {
                    @media (max-width: 1110px) {
                        border-bottom: solid var(--color-lucky);
                    }
                }
            }
        }
    }

}
