/* CONFIG */

.imgIcons {
    width: 30px;
    height: 30px;

    margin: .5rem;

    transform: rotate(270deg);
}

.divDownloads {
    margin: 1rem;

    .divDownloadsMain {

        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;

        @media (max-width: 768px) {
            flex-direction: column;
        }

        .divDownloadsContent {
            .divDownloadsContentHeader {
                display: flex;
                align-items: center;
            }
        }
    }

}
